.card:hover .card-inner{
    transform: rotateY(180deg)
}

.card-inner{
    width: 100%;
    heigth: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card{
    background-color: #7ffa67;
    display: inline-block;
    padding: 15px;
    margin-bottom: 15px;
    widht: 300px;
    height: 350px;
    border: 5px groove black;
    border-radius: 10px;
    text-align: center;
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
}

.card-front{
    background-color: #7ffa67;
    text-align: center;
}

.card-back{
    transform: rotateY(180deg);
    background-color: #7ffa67;
    text-align: center;
}

.card_list{
    list-style: none;
    padding: 0px;
    border-radius: 10px;
}

.card__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1100px;
    margin: 0 auto;
}

.card {
    background-color: #7ffa67;
    display: inline-block;
    padding: 15px;
    margin-bottom: 15px;
    width: 300px;
    border: 5px groove black;
    border-radius: 10px;
}

@font-face {
    font-family: 'FontR&M';
    src: url('fontes/FontR&M.ttf')  format('truetype');
}

body {
    background: url(imagens/background.png) no-repeat center center fixed;
    background-size: cover;
}

.titulo{
    font-family: 'FontR&M';
    color: #02b1c8;
    font-size: 85px;
    text-align: center;
    text-shadow: 0.02em 0.02em 0.02em #7ffa67,
                 -0.02em -0.02em 0.02em #7ffa67,
                 0 0 0.2em #7ffa67;
}

.actions {
    text-align: center;
}

.btn {
    background-color: black;
    font-size: 18px;
    color:#7ffa67;
    padding: 18px 28px;
    border-radius: 5px;
    border: 0px solid;
    cursor: pointer;
    font-weight: bold;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    margin: 15px;
}

button:hover {
    background: #7ffa67; 
    color: black;
}




